@using Microsoft.EntityFrameworkCore
@using Sirkadirov.Overtest.WebApplication.ViewComponents.Shared
@model Sirkadirov.Overtest.WebApplication.Areas.Administration.Models.UsersAdministrationController.ChangeUserPasswordModel

@{
    var userFullName = await DatabaseContext.Users
        .Where(u => u.Id == Model.UserId)
        .Select(s => s.FullName)
        .FirstAsync();
    
    var currentUserId = new Guid(UserManager.GetUserId(Context.User));
    
    ViewBag.PageTitle = string.Format(Localizer["Зміна паролю користувача {0}"].Value, userFullName);
}

@section FullwidthSection
{
    
    @(await Component.InvokeAsync<ServiceHeaderViewComponent>(new ServiceHeaderViewComponent.HeaderModel
    {
        PageTitle = Localizer["Зміна паролю користувача"].Value,
        SubtitleLink = new ServiceHeaderViewComponent.HeaderModel.IconLinkData
        {
            Enabled = true,
            LinkDestination = Url.Action("UserProfile", "Users", new { area = "Social", Model.UserId }),
            LinkIcon = "fas fa-user-circle",
            LinkText = string.Format(Localizer["Повернутися до профілю {0}"].Value, userFullName)
        }
    }))

}

<form class="mt-0 mb-0" method="post" asp-action="ChangeUserPassword" asp-route-userId="@Model.UserId">
    
    @Html.AntiForgeryToken()
    
    <div class="text-danger mt-3 mb-3">@Html.ValidationSummary()</div>
    
    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
    
    @if (Model.UserId == currentUserId)
    {
        <div class="form-group mt-3 mb-3">
            <label asp-for="OldPassword">@Localizer["Ваш поточний пароль:"]</label>
            <input type="password" class="form-control rounded-lg" asp-for="OldPassword" placeholder="**********" />
        </div>
    }
    
    <div class="form-group mt-3 mb-3">
        <label asp-for="OldPassword">@Localizer["Новий пароль:"]</label>
        <input type="password" class="form-control rounded-lg" asp-for="NewPassword" placeholder="**********" />
    </div>
    
    <div class="form-group mt-3 mb-3">
        <label asp-for="OldPassword">@Localizer["Повтор нового паролю:"]</label>
        <input type="password" class="form-control rounded-lg" asp-for="NewPasswordConfirmation" placeholder="**********" />
    </div>
    
    <div class="text-right mt-3 mb-3">
        <button type="submit" class="btn btn-danger rounded-lg"><i class="fas fa-lock"></i> @Localizer["Змінити пароль"]</button>
    </div>
    
</form>