@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Hosting
@using Sirkadirov.Overtest.WebApplication.Areas.TasksArchive.ViewComponents.ProgrammingTasksBrowsingController

@inject IWebHostEnvironment WebHostEnvironment

@model Sirkadirov.Overtest.Libraries.Shared.Database.Storage.TasksArchive.ProgrammingTask
@{
    ViewBag.PageTitle = Model.Title;
    
    var currentUserId = new Guid(UserManager.GetUserId(Context.User));
    var currentUserHasAdminPrivileges = await DatabaseContext.UserPermissionsOperator.GetUserHasSpecifiedTypeAsync(currentUserId, UserType.SuperUser);
}

@section FullwidthSection
{
    
    @(await Component.InvokeAsync<TestingApplicationCreationPartialViewComponent>(Model.Id))
    
    <div class="application-page-header jumbotron jumbotron-fluid bg-white pt-5 pb-3 mb-2 no-selection-allowed">
        <div class="container">

            <div class="m-0">
                <div>
                    <h2 class="m-0">@Model.Title</h2>

                    <div class="overflow-auto text-nowrap pt-0 pb-0">
                        @if (Model.CategoryId != null)
                        {
                            var programmingTaskCategoryDisplayName = await DatabaseContext.ProgrammingTaskCategories
                                .Where(c => c.Id == Model.CategoryId)
                                .Select(s => s.DisplayName)
                                .AsNoTracking()
                                .FirstAsync();

                            <a class="btn btn-sm btn-link text-dark d-inline-block p-0 mr-1" asp-controller="ProgrammingTasksArchive" asp-action="List" asp-route-category="@Model.CategoryId">
                                <i class="fas fa-list-alt"></i> @programmingTaskCategoryDisplayName
                            </a>
                        }
                        <button class="btn btn-sm btn-link text-dark d-inline-block p-0 mr-1">
                            <i class="fas fa-star"></i> @string.Format(Localizer["Складність {0}%"].Value, Model.Difficulty)
                        </button>

                        @if (currentUserHasAdminPrivileges)
                        {
                            <a class="btn btn-sm btn-link d-inline-block p-0 mr-1" asp-area="Administration" asp-controller="ProgrammingTasksAdministration" asp-action="EditDetails" asp-route-programmingTaskId="@Model.Id">
                                <i class="fas fa-edit"></i> @Localizer["Редагувати"]
                            </a>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <div class="container">
        <div id="ProgrammingTaskDescriptionPanel" class="no-selection-allowed mt-0 mb-5">
            @Html.Raw(Model.Description)
        </div>
    </div>
    
}

@section AdditionalHeaderScripts
{
    <style>
        .UserNavbarBottomBorderLineContainer {
            display: none !important;
        }
        div#ProgrammingTaskDescriptionPanel img {
            max-width: 100%;
        }
    </style>
}