@using Sirkadirov.Overtest.WebApplication.ViewComponents.Shared
@using Microsoft.EntityFrameworkCore
@model List<Sirkadirov.Overtest.WebApplication.Areas.Social.Models.UserGroupsController.UserGroupUsersListItemModel>
@{
                                                                                                                    
    var userGroupId = (Guid)(ViewBag.UserGroupId);
    var userGroupInformation = await DatabaseContext.UserGroups
        .AsNoTracking()
        .Where(g => g.Id == userGroupId)
        .Include(i => i.GroupCurator)
        .Select(s => new
        {
            s.DisplayName,
            s.GroupCuratorId,
            GroupCuratorFullName = s.GroupCurator.FullName
        })
        .FirstAsync();

    var isCurrentUserCurator = userGroupInformation.GroupCuratorId.ToString() == UserManager.GetUserId(Context.User);
    
    ViewBag.PageTitle = string.Format(Localizer["Група {0}"].Value, userGroupInformation.DisplayName);
    
}

@* ====== Service header ====== *@
@section FullwidthSection
{
    
    @{
        Func<dynamic, object> DrawDropleftMenu() => 
            @<span>
                
                <partial name="ViewComponents/Shared/DropleftMenu/CommonSupportDropleftMenuItems" />
                
                <div class="dropdown-divider"></div>
                
                <a class="dropdown-item" asp-area="Social" asp-controller="Users" asp-action="List" asp-route-groupId="@userGroupId">
                    <i class="fas fa-search"></i> @Localizer["Відкрити у пошуку"]
                </a>
                
            </span>;
    }
    
    @(await Component.InvokeAsync<ServiceHeaderViewComponent>(new ServiceHeaderViewComponent.HeaderModel
    {
        PageTitle = userGroupInformation.DisplayName,
        SubtitleLink = new ServiceHeaderViewComponent.HeaderModel.IconLinkData
        {
            Enabled = true,
            
            LinkIcon = "fas fa-chevron-left",
            LinkText = Localizer["Повернутися до списку груп"].Value,
            LinkDestination = Url.Action("List", "UserGroups", new { area = "Social", userId = userGroupInformation.GroupCuratorId })
        },
        MenuDrawer = new ServiceHeaderViewComponent.HeaderModel.MenuDrawerData
        {
            Enabled = true,
            DrawMenuItems = DrawDropleftMenu()
        }
    }))
    
}
@* ====== /Service header ====== *@

@* ====== User group administration panel ====== *@
@if (isCurrentUserCurator)
{
    
    <div class="card rounded-lg border-0 shadow mt-0 mb-5 no-selection-allowed">
        <div class="card-body">
            <div class="overflow-auto text-nowrap">
                <button class="btn btn-light d-inline-block rounded-lg" data-toggle="modal" data-target="#AddUsersModalDialog">
                    <i class="fas fa-user-edit"></i> @Localizer["Додати користувачів"]
                </button>
                <a class="btn btn-light d-inline-block rounded-lg" asp-area="Administration" asp-controller="UserGroupsAdministration" asp-action="Edit" asp-route-userGroupId="@userGroupId">
                    <i class="fas fa-users-cog"></i> @Localizer["Редагувати групу"]
                </a>
                <a class="btn btn-light d-inline-block rounded-lg" asp-area="Administration" asp-controller="UserGroupsAdministration" asp-action="Remove" asp-route-userGroupId="@userGroupId">
                    <span class="text-danger"><i class="fas fa-trash"></i> @Localizer["Видалити групу"]</span>
                </a>
            </div>
        </div>
    </div>
    
    @* ====== Add new users modal ====== *@
    <div class="modal fade no-selection-allowed" tabindex="-1" id="AddUsersModalDialog">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center"><i class="fas fa-user-plus"></i></h5>
                    <h5 class="modal-title text-center ml-auto">@Localizer["Додати користувачів"]</h5>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="text-center mt-4 mb-4">
                                <img src="~/assets/svg/illustrations/undraw_waiting_for_you.svg" class="w-75" alt=""/>
                            </div>
                        </div>
                        <div class="col-md-3"></div>

                        <div class="col-md mt-4 mb-4">
                            <h6>@Localizer["Зареєструвати вручну"] <span class="badge badge-warning">SOON</span></h6>
                            <p>
                                @Localizer["Заповніть невелику форму, щоб зареєструвати нового користувача старим-добрим методом."]
                            </p>
                            <button class="btn btn-light btn-block rounded-lg disabled" disabled>
                                <i class="fas fa-user-edit"></i> @Localizer["Створити вручну"]
                            </button>
                        </div>

                        <div class="col-md mt-4 mb-4">
                            <h6>@Localizer["Посилання-запрошення"] <span class="badge badge-success">NEW</span></h6>
                            <p>
                                @Localizer["Запрошуйте учнів для спільної роботи з системою за допомогою зручного посилання!"]
                            </p>
                            <button class="btn btn-primary btn-block rounded-lg" data-toggle="modal" data-target="#InviteUsersModalDialog">
                                <i class="fas fa-share-alt"></i> @Localizer["Запросити"]
                            </button>
                        </div>

                        <div class="col-md mt-4 mb-4">
                            <h6>@Localizer["Імпорт з CSV"] <span class="badge badge-warning">SOON</span></h6>
                            <p>
                                @Localizer["Додайте користувачів до цієї групи згідно зі списком учнів у табличному форматі."]
                            </p>
                            <button class="btn btn-light btn-block rounded-lg disabled" disabled>
                                <i class="fas fa-sign-in-alt"></i> @Localizer["Імпортувати користувачів"]
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @* ====== /Add new users modal ====== *@
    
    @* ====== Invite users modal ====== *@
    <div class="modal fade no-selection-allowed" data-backdrop="static" data-keyboard="false" tabindex="-1" id="InviteUsersModalDialog">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center"><i class="fas fa-share-alt"></i></h5>
                    <h5 class="modal-title text-center ml-auto">@Localizer["Запросити користувачів"]</h5>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>
                        @Localizer["Згенероване посилання дозволяє запрошувати нових користувачів у систему."]
                        @Localizer["Перейшовши за цим посиланням, користувачі потраплять до форми реєстрації, у якій буде введено зазначений нижче реєстраційний код."]
                    </p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-link"></i></span>
                        </div>
                        <input name="joinLinkTextContainer" class="form-control rounded-right" type="text" value="" readonly/>
                    </div>
                    <p>
                        @Localizer["Якщо ви більше не хочете, щоб це посилання було активним, згенеруйте нове, скориставшись кнопкою нижче."]
                    </p>
                    <div class="alert alert-primary rounded-lg border shadow-sm mt-3 mb-0 no-selection-allowed alert-dismissible fade show">
                        <p class="mt-1 mb-1">
                            
                            <strong><i class="fas fa-info-circle"></i> @Localizer["Зверніть увагу!"]</strong>
                            
                            @Localizer["За замовучуванням, користувачі, які приєднуються за будь-яким запрошувальним посиланням мають рівень доступу \"Student\"."]
                            @Localizer["Змінити його на вищий чи нижчий ви можете на сторінці редагування користувача."]
                            
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary rounded-lg" data-dismiss="modal"><i class="fas fa-window-close"></i> @Localizer["Закрити"]</button>
                    <button type="button" class="btn btn-primary rounded-lg disabled" id="regenerateUserGroupJoinLinkButton" disabled><i class="fas fa-link"></i> @Localizer["Нове посилання"]</button>
                </div>
            </div>
        </div>
    </div>
    @* ====== /Invite users modal ====== *@
    
    <script>
    $(document).ready(function () {
        
        // Add users modal component selector
        let addUsersModalDialogSelector = $("#AddUsersModalDialog");
        
        // Invite users modal component selectors
        let inviteUsersModalDialogSelector = $("#InviteUsersModalDialog");
        let joinLinkTextContainerSelector = $("input[name='joinLinkTextContainer']");
        let regenerateLinkButtonSelector = $("#regenerateUserGroupJoinLinkButton");
        
        /*
         * Invite users modal actions
         */
        
        // Token query success
        function joinLinkSuccessAction(data) {
            joinLinkTextContainerSelector.val(data);
            joinLinkTextContainerSelector.focus();
        }
        
        // Token query fail
        function joinLinkFailAction() {
            alert("@Localizer["При виконанні запиту виникла непередбачувана помилка!"]");
            joinLinkTextContainerSelector.val("Error!");
        }
        
        // On modal show
        inviteUsersModalDialogSelector.on('show.bs.modal', function () {
            // Hide other modals
            addUsersModalDialogSelector.modal('hide');
        });
        
        // On modal shown
        inviteUsersModalDialogSelector.on('shown.bs.modal', function () {
            
            // Get security token
            $.get("@Url.Action("GetUserGroupJoinLink", "UserGroupsAdministration", new { area = "Administration", userGroupId })", function(data) {
                joinLinkSuccessAction(data);
            })
            .fail(function() {
                joinLinkFailAction();
            });
            
            // Enable regenerate button
            regenerateLinkButtonSelector.removeAttr("disabled");
            regenerateLinkButtonSelector.removeClass("disabled");
            
        });
        
        // On join link text input focused
        joinLinkTextContainerSelector.focus(function () {
            joinLinkTextContainerSelector.select();
        });
        
        // On regenerate token button click
        regenerateLinkButtonSelector.click(function () {
            
            // Disable regenerate button
            regenerateLinkButtonSelector.addClass("disabled");
            regenerateLinkButtonSelector.attr("disabled", "");
            
            // Disable link container
            joinLinkTextContainerSelector.attr("disabled", "");
            
            // Get new security token
            $.get("@Url.Action("RegenerateUserGroupJoinLink", "UserGroupsAdministration", new { area = "Administration", userGroupId })", function(data) {
                joinLinkSuccessAction(data);
            })
            .fail(function() {
                joinLinkFailAction();
            });
            
            // Enable link container
            joinLinkTextContainerSelector.removeAttr("disabled");
            
            // Enable regenerate button
            regenerateLinkButtonSelector.removeAttr("disabled");
            regenerateLinkButtonSelector.removeClass("disabled");
        
        });
        
    });
    </script>
    
}
else
{
    <div class="card rounded-lg border-0 shadow mt-0 mb-5 no-selection-allowed">
        <div class="card-body">
            <div class="overflow-auto text-nowrap">
                <a class="btn btn-light d-inline-block rounded-lg" asp-area="Social" asp-controller="Users" asp-action="UserProfile" asp-route-userId="@userGroupInformation.GroupCuratorId">
                    <i class="fas fa-user-circle"></i> @userGroupInformation.GroupCuratorFullName
                </a>
            </div>
        </div>
    </div>
}
@* ====== /User group administration panel ====== *@

@* ====== Items view ====== *@
<div class="mt-4 mb-4">
    @if (Model.Any())
    {
        
        <ul class="list-group list-group-flush no-selection-allowed">
            @foreach (var item in Model)
            {
                
                <li class="list-group-item">
                    <div class="media">
                        <img src="https://via.placeholder.com/60" class="align-self-center rounded-lg shadow-sm mr-3" style="width: 60px; height: 60px;" title="@item.FullName" alt="@item.FullName"/>
                        <div class="media-body">
                            <h5 class="m-0">
                                <a class="text-dark text-decoration-none" asp-area="Social" asp-controller="Users" asp-action="UserProfile" asp-route-userId="@item.Id">@item.FullName</a>
                            </h5>
                            <div class="m-0">
                                <span class="text-muted" title="@Localizer["Навчальний заклад"]">@item.InstitutionName</span>
                            </div>
                            <h6 class="m-0">
                                <span class="badge badge-light" title="@Localizer["Тип облікового запису"]"><i class="fas fa-user-shield"></i> @item.Type.ToString()</span>
                                <span class="badge badge-success" title="@Localizer["Рейтинг"]"><i class="fas fa-fist-raised"></i> @item.Rating</span>
                            </h6>
                        </div>
                    </div>
                </li>
                
            }
        </ul>
        
    }
    else
    {
        
        if (isCurrentUserCurator)
        {
            <script> $(document).ready(function () { $("#AddUsersModalDialog").modal("show"); }); </script>
        }
        
        <div class="card shadow-sm no-selection-allowed">
            <div class="card-body">
                <h5 class="m-0"><i class="fas fa-heart-broken"></i> @Localizer["За вашим пошуковим запитом нікого не знайдено!"]</h5>
                <p class="mt-2 mb-2">
                    @Localizer["Дуже шкода, але за вказаними параметрами пошуку нам не вдалося знайти жодного користувача системи."]
                </p>
                <a class="btn btn-light rounded-lg" asp-action="List"><i class="fas fa-dragon"></i> @Localizer["Користувачі і рейтинг"]</a>
            </div>
        </div>
        
    }
</div>
@* ====== /Items view ====== *@