@using Microsoft.EntityFrameworkCore
@using Sirkadirov.Overtest.WebApplication.ViewComponents
@using Sirkadirov.Overtest.WebApplication.ViewComponents.ServiceHeader
@model Sirkadirov.Overtest.WebApplication.Models.Shared.Pagination.PaginatedListModel<Sirkadirov.Overtest.Libraries.Shared.Database.Storage.TasksArchive.ProgrammingTask>
@{
    ViewBag.PageTitle = Localizer["Архів завдань"].Value;

    var currentUserId = new Guid(UserManager.GetUserId(Context.User));
    
    var taskCategoriesList = await DatabaseContext.ProgrammingTaskCategories
        .OrderBy(c => c.DisplayName)
        .Select(c => new KeyValuePair<Guid, string>(c.Id, c.DisplayName))
        .ToListAsync();
}

@section FullwidthSection
{
    
    @{
        Func<dynamic, object> DrawDropleftMenu() => 
            @<span>
                
                <partial name="~/ViewComponents/Views/ServiceHeader/DropleftMenu/CommonSupportDropleftMenuItems.cshtml" />
                
                @if (await DatabaseContext.UserPermissionsOperator.GetUserHasSpecifiedTypeAsync(currentUserId, UserType.SuperUser))
                {
                    <div class="dropdown-divider"></div>
                    
                    <a class="dropdown-item" asp-area="Administration" asp-controller="ProgrammingTasksAdministration" asp-action="Create">
                        <i class="fas fa-file-alt"></i> @Localizer["Створити завдання"]
                    </a>
                }
                
            </span>;
    }
    
    @(await Component.InvokeAsync<ServiceHeaderViewComponent>(new ServiceHeaderViewComponent.HeaderModel
    {
        PageTitle = Localizer["Архів завдань"].Value,
        MenuDrawer = new ServiceHeaderViewComponent.HeaderModel.MenuDrawerData
        {
            Enabled = true,
            DrawMenuItems = DrawDropleftMenu()
        }
    }))
    
}

@* ====== Search form ====== *@
<div class="card rounded-lg border shadow mt-0 mb-4 no-selection-allowed">
    <div class="card-body">
        <form class="m-0" method="get" asp-area="TasksArchive" asp-controller="ProgrammingTasksArchive" asp-action="List" asp-route-page="1">
            
            <!-- Search query -->
            <div class="form-group mb-3">
                <input name="searchQuery" type="text" class="form-control rounded-lg" placeholder="@Localizer["Вкажіть ваш пошуковий запит"]" value="@(ViewData["SearchQuery"] as string)">
            </div>
            
            <div class="row">
                <div class="col">
                    
                    <select name="category" class="custom-select rounded-lg">
                        @{
                            string InsertSelectedAttributeIfNeeded(Guid? currentCategoryId)
                            {
                                return ViewData["SelectedCategoryId"] as Guid? == currentCategoryId ? "selected" : "";
                            }
                        }

                        <!option value="" @InsertSelectedAttributeIfNeeded(null)>@Localizer["Усі категорії"]</!option>

                        @if (taskCategoriesList.Count > 0)
                        {
                            foreach (var (categoryId, categoryDisplayName) in taskCategoriesList)
                            {
                                <!option value="@categoryId.ToString()" @InsertSelectedAttributeIfNeeded(categoryId)>@categoryDisplayName</!option>
                            }
                        }
                        else
                        {
                            <option>@Localizer["Категорії завдань відсутні :("]</option>
                        }
                    </select>
                    
                </div>
                <div class="col">
                    
                    <button type="submit" class="btn btn-dark btn-block rounded-lg"><i class="fas fa-search"></i> @Localizer["Пошук"]</button>
                    
                </div>
            </div>
            
        </form>
        
        @if (!string.IsNullOrWhiteSpace(ViewData["SearchQuery"] as string) || ViewData["SelectedCategoryId"] is Guid)
        {
            <div class="text-right">
                <a class="small" asp-action="List" asp-route-page="1"><i class="fas fa-window-close"></i> Скинути параметри пошуку</a>
            </div>
        }
        
    </div>
</div>
@* ====== /Search form ====== *@

@if (Model.ItemsList.Count > 0)
{
    
    @*
        TODO: Реалізувати обчислення статистики вирішуваності завдань
    *@
    
    <div class="list-group mt-4 mb-4 no-selection-allowed">
        
        <style>
            .programming-task-list-item:hover h5 {
                color: var(--orange) !important;
            }
        </style>
        
        @foreach (var programmingTask in Model.ItemsList)
        {
            <div class="m-0 p-1">
                <div class="programming-task-list-item list-group-item list-group-item-action border rounded-lg">
                    <div class="d-flex justify-content-between">
                        <div class="align-self-center" style="max-width: 70%;">
                            <h5 class="m-0 text-dark text-decoration-none text-truncate">@programmingTask.Title</h5>
                            <span class="d-block text-muted text-truncate">@taskCategoriesList.FirstOrDefault(c => c.Key == programmingTask.CategoryId).Value</span>
                        </div>

                        <div class="align-self-center text-right text-muted">
                            <samp class="d-block text-nowrap">@programmingTask.Difficulty% <i class="fas fa-award"></i></samp>
                            <samp class="d-block text-nowrap">N/A <i class="fas fa-poll"></i></samp>
                        </div>
                    </div>
                    <a class="stretched-link" asp-area="TasksArchive" asp-controller="ProgrammingTasksBrowsing" asp-action="View" asp-route-programmingTaskId="@programmingTask.Id"></a>
                </div>
            </div>
        }
        
    </div>
    
    @(await Component.InvokeAsync<PaginationViewComponent>(Model.Pagination))
    
}
else
{
    <div class="card shadow-sm no-selection-allowed">
        <div class="card-body">
            <h5 class="m-0"><i class="fas fa-heart-broken"></i> @Localizer["За вашим пошуковим запитом нічого не знайдено!"]</h5>
            <p class="mt-2 mb-2">
                @Localizer["Дуже шкода, але за вказаними параметрами пошуку нам не вдалося знайти жодного завдання."]
            </p>
            <a class="btn btn-light rounded-lg" asp-action="List"><i class="fas fa-archive"></i> @Localizer["Перейти до Архіву завдань"]</a>
        </div>
    </div>
}