@{
    Layout = "Layouts/_DefaultEmptyLayout";
    var currentProgressPercentage = Convert.ToInt32(Math.Round((double) (ViewBag.WizardCurrentStep) / (double) (ViewBag.WizardTotalSteps) * 100));
}

<main class="container pt-5 pb-5">
    
    <div class="row mt-5 mb-5">
        
        <div class="col-md-6 content-v-align-center">
            <img class="w-100" src="~/assets/svg/illustrations/undraw_server_down.svg" alt="Overtest"/>
        </div>
        
        <div class="col-md-6 content-v-align-center">
            
            <div class="mt-0 mb-2">
                <h3 class="m-0"><i class="fas fa-cloud-download-alt"></i> @ViewBag.PageTitle</h3>
                <h4 class="font-weight-light">@ViewBag.WizardStepTitle</h4>
            </div>
            
            <div class="mt-2 mb-2">
                
            </div>
            
            @await RenderSectionAsync("WizardPage", true)
            
            <div class="progress" style="height: 1.5rem;">
              <div class="progress-bar bg-dark" style="width: @(currentProgressPercentage)%;">@ViewBag.WizardCurrentStep / @ViewBag.WizardTotalSteps</div>
            </div>
            
        </div>
        
    </div>
    
</main>