@model Sirkadirov.Overtest.WebApplication.Models.AuthController.RegistrationModel

@{
    Layout = "Layouts/_DefaultEmptyLayout";
    ViewBag.PageTitle = Localizer["Реєстрація в системі | Overtest"].Value;
}

<main class="container no-selection-allowed">
    
    <div class="row mt-0 mb-0">
        
        <div class="col-md-3"></div>
        
        <div class="col-md-6">
            
            <h3 class="text-center mt-5 mb-5">@Localizer["Приєднатися до Overtest"]</h3>
            
            <form asp-action="Registration" asp-route-securityToken="@Model.SecurityToken" class="m-0">
                
                @Html.AntiForgeryToken()
                
                <div class="card rounded-lg shadow-sm mt-3 mb-3">
                    <div class="card-body">
                        
                        <div class="form-group mt-0 mb-2">
                            <label asp-for="FullName">@Localizer["Ваше повне ім'я:"]</label>
                            <input asp-for="FullName" type="text" class="form-control rounded-lg" placeholder="@Localizer["Іван Якович Франко"]"/>
                            <span class="d-block invalid-feedback" asp-validation-for="FullName"></span>
                        </div>
                        
                        <div class="form-group mt-2 mb-0">
                            <label asp-for="Email">@Localizer["Контактна адреса e-mail:"]</label>
                            <input asp-for="Email" type="email" class="form-control rounded-lg" placeholder="@Localizer["ivan.franko@lnu.edu.ua"]"/>
                            <span class="d-block invalid-feedback" asp-validation-for="Email"></span>
                            <small class="form-text text-muted">
                                @Localizer["Вказана адреса електронної пошти буде використовуватися вами для входу в обліковий запис."]
                                @Localizer["На неї також будуть приходити важливі сповіщення."]
                            </small>
                        </div>

                    </div>
                </div>
                
                <div class="card rounded-lg shadow-sm mt-3 mb-3">
                    <div class="card-body">
                        
                        <div class="form-group mt-0 mb-2">
                            <label asp-for="Password">@Localizer["Вигадайте пароль:"]</label>
                            <input asp-for="Password" type="password" class="form-control rounded-lg" placeholder="@Localizer["***********"]"/>
                            <span class="d-block invalid-feedback" asp-validation-for="Password"></span>
                        </div>
                        
                        <div class="form-group mt-2 mb-0">
                            <label asp-for="PasswordRepeat">@Localizer["Повторіть пароль:"]</label>
                            <input asp-for="PasswordRepeat" type="password" class="form-control rounded-lg" placeholder="@Localizer["***********"]"/>
                            <span class="d-block invalid-feedback" asp-validation-for="PasswordRepeat"></span>
                        </div>
                        
                    </div>
                </div>
                
                <div class="card rounded-lg shadow-sm mt-3 mb-3">
                    <div class="card-body">
                        
                        <div class="form-group mt-0 mb-0">
                            <label asp-for="SecurityToken">@Localizer["Токен приєднання:"]</label>
                            <input asp-for="SecurityToken" type="text" class="form-control rounded-lg" placeholder="@Localizer["Я люблю Overtest"]"/>
                            <span class="d-block invalid-feedback" asp-validation-for="SecurityToken"></span>
                            <small class="form-text text-muted">
                                @Localizer["Токен приєднання - це рядок, що складається з букв, чисел та спеціальних символів, який надає вам змогу швидко приєднатися до системи."]
                                @Localizer["Якщо ви не маєте такого токену, зв'яжіться з вашим куратором, або ж з адміністратором системи."]
                            </small>
                        </div>

                    </div>
                </div>
                
                <div class="card rounded-lg shadow-sm mt-3 mb-3">
                    <div class="card-body">
                        
                        <button class="btn btn-dark rounded-lg" type="submit"><i class="fas fa-user-friends"></i> @Localizer["Зареєструватися"]</button>
                        <a class="btn btn-link" asp-controller="Welcome" asp-action="Welcome"><i class="fas fa-angle-left"></i> @Localizer["На початок"]</a>
                        
                    </div>
                </div>
                
            </form>
            
        </div>
        
        <div class="col-md-3"></div>
        
    </div>
    
</main>