@using Sirkadirov.Overtest.WebApplication.ViewComponents.Shared
@using Sirkadirov.Overtest.Libraries.Shared.Database.Operators
@model List<Sirkadirov.Overtest.Libraries.Shared.Database.Storage.TasksArchive.ProgrammingTaskCategory>

@{
    ViewBag.PageTitle = Localizer["Категорії завдань"].Value;
    var currentUserId = new Guid(UserManager.GetUserId(Context.User));
}

@section FullwidthSection
{
    
    @{
        Func<dynamic, object> DrawDropleftMenu() => 
            @<span>
                
                <partial name="ViewComponents/Shared/DropleftMenu/CommonSupportDropleftMenuItems" />
                
                <div class="dropdown-divider"></div>
                
                @if (await DatabaseContext.UserPermissionsOperator.VerifyUserTypeSetAsync(currentUserId, OvertestUserPermissionsOperator.UserTypeSet.Administrator))
                {
                    <a class="dropdown-item" asp-area="Administration" asp-controller="CategoriesAdministration" asp-action="Create"><i class="fas fa-file"></i> @Localizer["Створити категорію"]</a>
                }
                
            </span>;
    }


    @(await Component.InvokeAsync<ServiceHeaderViewComponent>(new ServiceHeaderViewComponent.HeaderModel
    {
        PageTitle = Localizer["Категорії завдань"].Value,
        SubtitleLink = new ServiceHeaderViewComponent.HeaderModel.IconLinkData
        {
            Enabled = true,
            LinkDestination = Url.Action("List", "Archive", new { area = "TasksArchive" }),
            LinkIcon = "fas fa-chevron-left",
            LinkText = Localizer["Повернутися до Архіву завдань"].Value
        },
        MenuDrawer = new ServiceHeaderViewComponent.HeaderModel.MenuDrawerData
        {
            Enabled = true,
            DrawMenuItems = DrawDropleftMenu()
        }
    }))

}

@if (Model.Count > 0)
{
    <div class="card-columns no-selection-allowed">
        
        @foreach (var tasksCategory in Model)
        {
            <div class="card rounded-lg shadow">
                
                <div class="card-body position-relative">
                    
                    <a class="d-block h5 m-0 font-weight-bold text-dark text-decoration-none stretched-link"
                       asp-area="TasksArchive"
                       asp-controller="Archive"
                       asp-action="List"
                       asp-route-category="@tasksCategory.Id">@tasksCategory.DisplayName</a>
                    
                    @if (!string.IsNullOrWhiteSpace(tasksCategory.Description))
                    {
                        <p class="card-text mt-2 mb-0">@tasksCategory.Description</p>
                    }
                    
                </div>
                
                @if (await DatabaseContext.UserPermissionsOperator.VerifyUserTypeSetAsync(currentUserId, OvertestUserPermissionsOperator.UserTypeSet.Administrator))
                {
                    <div class="card-footer">
                        
                        @* Edit category link *@
                        <a class="btn btn-warning btn-sm" title="@Localizer["Редагувати інформацію про категорію"]" asp-area="Administration" asp-controller="CategoriesAdministration" asp-action="Edit" asp-route-categoryId="@tasksCategory.Id">
                            <i class="fas fa-pen"></i> @Localizer["Змінити"]
                        </a>
                        
                        @* Remove category link *@
                        <a class="btn btn-danger text-white btn-sm" title="@Localizer["Видалити категорію"]">
                            <i class="fas fa-trash"></i> @Localizer["Видалити"]
                        </a>
                        
                    </div>
                }
                
            </div>
        }
        
    </div>
}
else
{
    <div class="card shadow-sm no-selection-allowed">
        <div class="card-body">
            <h5 class="m-0"><i class="fas fa-heart-broken"></i> @Localizer["Категорізація завдань відсутня"]</h5>
            <p class="mt-2 mb-2">
                @Localizer["Доступних для перегляду категорій не знайдено."]
                @Localizer["Можливо, вам слід скористатися пошуком по Архіву завдань?"]
            </p>
            <a class="btn btn-light" asp-action="List"><i class="fas fa-archive"></i> @Localizer["Перейти до Архіву завдань"]</a>
        </div>
    </div>
}