@using Microsoft.EntityFrameworkCore
@using Sirkadirov.Overtest.WebApplication.ViewComponents.Shared
@model Sirkadirov.Overtest.WebApplication.Models.Shared.Pagination.PaginatedListModel<Sirkadirov.Overtest.Libraries.Shared.Database.Storage.TasksArchive.ProgrammingTask>
@{
    ViewBag.PageTitle = Localizer["Архів завдань"].Value;

    var taskCategoriesList = await DatabaseContext.ProgrammingTaskCategories
        .OrderBy(c => c.DisplayName)
        .Select(c => new KeyValuePair<Guid, string>(c.Id, c.DisplayName))
        .ToListAsync();
}

@section FullwidthSection
{
    
    @{
        Func<dynamic, object> DrawDropleftMenu() => 
            @<span>
                
                <partial name="ViewComponents/Shared/DropleftMenu/CommonSupportDropleftMenuItems" />
                
            </span>;
    }
    
    @(await Component.InvokeAsync<ServiceHeaderViewComponent>(new ServiceHeaderViewComponent.HeaderModel
    {
        PageTitle = Localizer["Архів завдань"].Value,
        MenuDrawer = new ServiceHeaderViewComponent.HeaderModel.MenuDrawerData
        {
            Enabled = true,
            DrawMenuItems = DrawDropleftMenu()
        }
    }))
    
}

<form class="mb-3 no-selection-allowed" asp-area="TasksArchive" asp-controller="Archive" asp-action="List" method="get">
    <div class="input-group">
        
        @if (!string.IsNullOrWhiteSpace(ViewData["SearchQuery"] as string) || ViewData["SelectedCategoryId"] is Guid)
        {
            <div class="input-group-prepend">
                <a class="btn btn-dark" asp-area="TasksArchive" asp-controller="Archive" asp-action="List"><i class="fas fa-times-circle"></i></a>
            </div>
        }
        
        <input name="searchQuery" type="text" class="form-control" placeholder="@Localizer["Вкажіть ваш пошуковий запит"]" value="@(ViewData["SearchQuery"] as string)">
        
        <div class="input-group-append w-25">
            <select name="category" class="form-control">
                
                @{
                    string InsertSelectedAttributeIfNeeded(Guid? currentCategoryId)
                    {
                        return ViewData["SelectedCategoryId"] as Guid? == currentCategoryId ? "selected" : "";
                    }
                }
                
                <!option value="" @InsertSelectedAttributeIfNeeded(null)>@Localizer["Усі категорії"]</!option>
                
                @if (taskCategoriesList.Count > 0)
                {
                    foreach (var (categoryId, categoryDisplayName) in taskCategoriesList)
                    {
                        <!option value="@categoryId.ToString()" @InsertSelectedAttributeIfNeeded(categoryId)>@categoryDisplayName</!option>
                    }
                }
                else
                {
                    <option>@Localizer["Категорії завдань відсутні :("]</option>
                }
            </select>
        </div>
        
        <div class="input-group-append">
            <button class="btn btn-dark"><i class="fas fa-search"></i></button>
        </div>
        
    </div>
</form>

@if (ViewData["SelectedCategoryId"] is Guid)
{

    var categoryId = ViewData["SelectedCategoryId"] as Guid?;
    var categoryTitle = taskCategoriesList.First(c => c.Key == categoryId).Value;
    var categoryDescription = await DatabaseContext.ProgrammingTaskCategories
        .Where(c => c.Id == categoryId)
        .Select(c => c.Description)
        .AsNoTracking()
        .FirstAsync();
    
    <div class="card mt-0 mb-3 no-selection-allowed">
        <div class="card-body">
            <h5 class="card-title">@categoryTitle</h5>
            @categoryDescription
            
        </div>
    </div>
}

@if (Model.ItemsList.Count > 0)
{
    
    @*
        TODO: Реалізувати обчислення статистики вирішуваності завдань
    *@
    
    <div class="row row-cols-1 row-cols-md-3 no-selection-allowed">
        @foreach(var programmingTask in Model.ItemsList)
        {
            <div class="col mb-4 h-100">
                <div class="card w-100">
                    <div class="card-body d-flex">
                        <div class="align-self-center">
                            <a
                                class="h5 m-0 d-block card-title font-weight-bold text-dark text-decoration-none stretched-link"
                                asp-area="TasksArchive" href="">@programmingTask.Title</a>
                            <span>@taskCategoriesList.FirstOrDefault(c => c.Key == programmingTask.CategoryId).Value</span>
                        </div>
                        <div class="align-self-center ml-auto text-right text-muted">
                            <samp class="d-block">@programmingTask.Difficulty% <i class="fas fa-award"></i></samp>
                            <samp class="d-block">N/A <i class="fas fa-poll"></i></samp>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    
    @(await Component.InvokeAsync<PaginationViewComponent>(Model.Pagination))
}
else
{
    <div class="alert alert-light text-center no-selection-allowed">
        <h5 class="alert-heading m-0"><i class="fas fa-heart-broken"></i> @Localizer["За вашим пошуковим запитом нічого не знайдено!"]</h5>
        <p class="mt-2 mb-2">
            @Localizer["Дуже шкода, але за вказаними параметрами пошуку нам не вдалося знайти жодного завдання."]
        </p>
        <a class="btn btn-light" asp-action="List"><i class="fas fa-archive"></i> @Localizer["Перейти до Архіву завдань"]</a>
    </div>
}