@using Sirkadirov.Overtest.WebApplication.ViewComponents.Shared
@using Sirkadirov.Overtest.WebApplication.Extensions.HtmlHelpers
@using Microsoft.AspNetCore.Html

@model Sirkadirov.Overtest.Libraries.Shared.Database.Storage.Identity.User

<nav class="navbar navbar-global navbar-expand-lg navbar-light bg-white fixed-top" style="min-height: 60px;">
  <div class="container">
    
    <a class="navbar-brand font-weight-bold" asp-controller="Welcome" asp-action="Home"><i class="fas fa-trophy"></i> Overtest</a>
    
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#@nameof(UserNavbarViewComponent)">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="@nameof(UserNavbarViewComponent)">
      
      <ul class="navbar-nav mr-auto">
        
        @{
          Func<dynamic, IHtmlContent> CreateAreaLink(string area, string controller, string action, string icon, string linkText) => 
            @<li class="nav-item">
              <a class="nav-link @Html.EnsureRequestedClassAdded(Html.IsSameAreaName(area))" asp-area="@area" asp-controller="@controller" asp-action="@action"><i class="@icon"></i> @linkText</a>
            </li>;
        }
        
        @CreateAreaLink("", "Welcome", "Home", "fas fa-home", Localizer["Головна"].Value)(null)
        
        @CreateAreaLink("TasksArchive", "Archive", "List", "fas fa-folder", Localizer["Архів завдань"].Value)(null)
        
        @CreateAreaLink("Social", "Users", "List", "fas fa-users", Localizer["Користувачі"].Value)(null)
        
        @if (Model.Type == UserType.Student)
        {
          @* Competitions *@
          @CreateAreaLink("Competition", "Competitions", "List", "fas fa-snowboarding", Localizer["Змагання"].Value)(null)
        }
        
        @if (Model.Type != UserType.Anonymous && Model.Type != UserType.Student)
        {
          @* Administration *@
          @CreateAreaLink("Administration", "Welcome", "Home", "fas fa-user-shield", Localizer["Адміністрування"].Value)(null)
        }
        
      </ul>
      
      @* User menu *@
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown"><i class="fas fa-user-circle"></i> <span class="d-md-none d-lg-none d-xl-none">@Localizer["Користувач"]</span></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"><i class="fas fa-id-card"></i> @Localizer["Моя сторінка"]</a>
            <a class="dropdown-item" href="#"><i class="fas fa-user-edit"></i> @Localizer["Редагувати сторінку"]</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-controller="Auth" asp-action="LogOut"><i class="fas fa-sign-out-alt"></i> @Localizer["Вийти з системи"]</a>
          </div>
        </li>
      </ul>
      
    </div>
    
  </div>
</nav>

@* Scroll navigation bar *@

<div class="nav-scroller bg-white shadow-sm">
  <div class="container">
    <nav class="nav nav-underline justify-content-lg-center">
      
      <partial name="~/Views/Shared/ViewComponents/Shared/UserNavbar/ScrollNavigationItems.cshtml"/>
      
    </nav>
  </div>
</div>