@using Sirkadirov.Overtest.WebApplication.Extensions.HtmlHelpers

@{
    Func<dynamic, object> RenderItem(string area, string controller, string action, string linkIcon, string linkText) => 
    @<li class="nav-item">
        <a class="nav-link @Html.EnsureRequestedClassAdded(Html.IsActiveLink(area, controller, action))" asp-area="@area" asp-controller="@controller" asp-action="@action">
            <i class="@linkIcon"></i> @linkText
        </a>
    </li>;
}

@if (Html.IsSameAreaName(""))
{
    
    @* Home area navigation links *@
    
    @RenderItem("", "Welcome", "Home", "fas fa-house-user", Localizer["Головна сторінка"].Value)(null)
    @RenderItem("", "Welcome", "Welcome", "fas fa-code-branch", Localizer["Початок роботи"].Value)(null)
    
    <li class="nav-item">
        <a class="nav-link" href="https://docs.overtest.sirkadirov.com/" target="_blank">
            <i class="fas fa-book"></i> @Localizer["Документація"]
        </a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" href="https://overtest.sirkadirov.com/" target="_blank">
            <i class="fas fa-rocket"></i> @Localizer["Про Overtest"]
        </a>
    </li>
    
}
else if (Html.IsSameAreaName("TasksArchive"))
{
    
    @* Tasks Archive area navigation links *@
    
    @RenderItem("TasksArchive", "ProgrammingTasksArchive", "List", "fas fa-archive", Localizer["Архів завдань"].Value)(null)
    @RenderItem("TasksArchive", "ProgrammingTasksArchive", "Categories", "fas fa-list-alt", Localizer["Категорії"].Value)(null)
    
    @RenderItem("TasksArchive", "TestingApplications", "Pending", "fas fa-sticky-note", Localizer["Відкладені"].Value)(null)
    @RenderItem("TasksArchive", "TestingApplications", "List", "fas fa-tasks", Localizer["Спроби"].Value)(null)
    
}
else if (Html.IsSameAreaName("Social"))
{
    
    @* Social area navigation links *@
    
    @RenderItem("Social", "Users", "List", "fas fa-dragon", Localizer["Користувачі і рейтинг"].Value)(null)
    @RenderItem("Social", "UserGroups", "List", "fas fa-user-friends", Localizer["Список груп"].Value)(null)
    @RenderItem("Social", "Users", "Profile", "fas fa-id-card", Localizer["Мій профіль"].Value)(null)
    
}