@using Sirkadirov.Overtest.WebApplication.Areas.Installation.Controllers
@{
    Layout = "_WizardLayout";
    ViewBag.PageTitle = Localizer["Майстер встановлення Overtest"].Value;
    ViewBag.WizardStepTitle = Localizer["Початкова сторінка майстру встановлення"].Value;
    ViewBag.WizardCurrentStep = 1;
    ViewBag.WizardTotalSteps = InstallationWizardController.WizardStepsTotalCount;
}

@section WizardPage {
    
    <p class="text-justify mt-3 mb-3">
        @Localizer["Вас вітає майстер встановлення Overtest LMS!"]
        @Localizer["З його допомогою ви виконаєте початкове налаштування системи, а також створите нового користувача, який буде виконувати роль суперадміністратора системи."]
    </p>
    
    <div class="alert alert-info">
        @Localizer["Ознайомитися з офіційними настановами по встановленню та налаштуванню Overtest можна за посиланням."]
        <a class="alert-link" href="https://docs.overtest.sirkadirov.com/" target="_blank">@Localizer["Перейти"] <i class="fas fa-external-link-alt"></i></a>
    </div>
    
    <p class="text-justify mt-3 mb-3">
        @Localizer["Будь ласка, не оновлюйте та не закривайте цю сторінку після того, як розпочнете процес інсталяції - це призведе до безповоротної втрати даних та відмови роботи системи."]
    </p>
    
    <p class="mt-3 mb-3">
        <a class="btn btn-outline-dark" asp-area="Installation" asp-controller="InstallationWizard" asp-action="CreateSuperUser"><i class="fas fa-user-shield"></i> @Localizer["Створення користувача"]</a>
        <a class="btn btn-link" asp-controller="Welcome" asp-action="Welcome"><i class="fas fa-angle-left"></i> @Localizer["Початкова сторінка"]</a>
    </p>

}